<nav>
    <div class = "site-title">
        <a href ="/"><h2>Ram Blog</h2></a>
        <p>A Ram Blog Website</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="about">About</a></li>
        <li><a href="blogs/create">New Blogs</a></li>
    </ul>
</nav>
